@font-face {
  font-family: 'Americana';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Americanatest.ttf) format("truetype");
}

.main-page{
    -webkit-touch-callout: none;
}

body{
    position: fixed;
    overflow: hidden;
    font-family: "Americana";
    background-image: url("../img/give-bg.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size:cover;
    color: white;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width:100%;
    height:100%;
    margin:0px;
}

fieldset{
    width:90%;
}

.svg-circle{
    position: absolute;
    margin-top: 5%;
    margin-left: 5%;
}

.give-text{
    position: absolute;
    size: ;
}

.circle {
	border-radius: 50%;
    background-color: black;
    position: relative;
    display: inline-block;
}

label{
    color: white;
}

#body-view {
    height:80%;
    width:500%;
    position: absolute;
}

.page {
    width:20%;
    height:100%;
    float:left;
}

#tab-bar {
    height:20%;
    position:absolute;
    bottom:0px;
    width:100%;
    background-color:rgba(255,255,255,.8);
    border-top:20px solid rgba(0,0,0,.3);
}

table{
  background-color: rgba(255,255,255,.8);
  margin-top:20%;
  overflow-y: scroll;
  min-width: 100%;
  color: black;
}

td {
  padding-bottom: 5%;
  color: black;
}

.tab {
    height:100%;
    width:25%;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    
    color:black;
    font-size: 16px;
    font-family: helvetica, arial, sans-serif;
    
    display:inline-block;
}

.tab.selected {
    background-color: rgba(0,0,0,.3);
}

.tab-bar-icon {
    height: calc(100% - 60px);
}

#dialog-register {
    position:absolute;
    top:30%;
    width:calc(100% - 50px);
    padding:20px;
}

fieldset {
    text-align: left;
/*    border-radius: 20px;*/
    border:5px solid white;
    padding:20px;
    width:calc(100% - 50px);
    margin-left:0px;
}

input[type="text"],input[type="password"],input[type="number"]{
    width:calc(100% - 30px);
    padding: 10px;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
}

input[type="text"]:focus,input[type="password"]:focus,input[type="number"]:focus,
input[type="text"].focus,input[type="password"].focus,input[type="number"].focus {
  border: solid 5px #969696;
}

button {
  color: white;
  background: rgba(0,0,0,0);
  border: solid 5px white;
  width:45%;
  padding:20px;
  display:inline-block;
}
button:hover,
button.hover {
  border-color: #aaaaaa;
  color: #aaaaaa;
}
button:active,
button.active {
  border-color: #666;
  color: #666;
}